target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/.idea/sonarlint/issuestore/2/c/2cabb939da04d3de3a200bf2b575690e1a16316d
/.idea/sonarlint/securityhotspotstore/2/c/2cabb939da04d3de3a200bf2b575690e1a16316d
/.idea/sonarlint/issuestore/8/6/863e0292fd7e9b3e74dafd6cc01f73ba76346482
/.idea/sonarlint/securityhotspotstore/8/6/863e0292fd7e9b3e74dafd6cc01f73ba76346482
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/securityhotspotstore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/a/a/aae8d3fb94d2c7bcee9f59d605091a16b4696ad5
/.idea/sonarlint/securityhotspotstore/a/a/aae8d3fb94d2c7bcee9f59d605091a16b4696ad5
/.idea/encodings.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/sonarlint/issuestore/4/b/4bfa237f0a8d4d577121c43145711fd30c5ca746
/.idea/sonarlint/securityhotspotstore/4/b/4bfa237f0a8d4d577121c43145711fd30c5ca746
/.idea/sonarlint/issuestore/4/d/4d10fa1052e7fc38fec75927aaa5d658370e18b0
/.idea/sonarlint/securityhotspotstore/4/d/4d10fa1052e7fc38fec75927aaa5d658370e18b0
/.idea/sonarlint/issuestore/b/d/bd1dea5bf9dfce15b9964c61a97be44ca6c06ec2
/.idea/sonarlint/securityhotspotstore/b/d/bd1dea5bf9dfce15b9964c61a97be44ca6c06ec2
/.idea/sonarlint/issuestore/b/e/be4de4a8234952aea7762b6f8b703b48f8534469
/.idea/sonarlint/securityhotspotstore/b/e/be4de4a8234952aea7762b6f8b703b48f8534469
/.idea/uiDesigner.xml
